<a href="https://colab.research.google.com/github/JavZon/Data_Reconciliation/blob/main/pd_MultiIndex_for_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
arrays = [['A', 'A', 'B', 'B'], [1, 2, 1, 2]]
multi_index = pd.MultiIndex.from_arrays(arrays, names=('First', 'Second'))
s = pd.Series([10, 20, 30, 40], index=multi_index)
s

First  Second
A      1         10
       2         20
B      1         30
       2         40
dtype: int64

In [11]:
s.index.names=['as','bs']
s

as  bs
A   1     10
    2     20
B   1     30
    2     40
dtype: int64

In [7]:
s.index
s

First  Second
A      1         10
       2         20
B      1         30
       2         40
dtype: int64

In [12]:
s.index

MultiIndex([('A', 1),
            ('A', 2),
            ('B', 1),
            ('B', 2)],
           name='ppp')

In [16]:
# from_arrays
data=[15,17,19,21]
array=[['X','X','Y','Y'],[1,2,1,2]]
index=pd.MultiIndex.from_arrays(array, names=['N1','N2'])
ser=pd.Series(data, index=index)
ser.sort_index(inplace=True)

In [17]:
ser

N1  N2
X   1     15
    2     17
Y   1     19
    2     21
dtype: int64

In [20]:
# from tuples
data=[15,17,19,21]
my_tuple=[('Q',1),('W',2),('Q',2),('W',1)]
index=pd.MultiIndex.from_tuples(my_tuple, names=['First','Second'])
ser2=pd.Series(data, index=index)
ser2.sort_index(inplace=True)

In [22]:
ser2

First  Second
Q      1         15
       2         19
W      1         21
       2         17
dtype: int64

In [23]:
# from product
prod=[['X','Y','Z'],[1,2]]
data=[23,45,67,89,12,38]
ind=pd.MultiIndex.from_product(prod,names=['Letter','Number'])
ser=pd.Series(data, index=ind)
ser

Letter  Number
X       1         23
        2         45
Y       1         67
        2         89
Z       1         12
        2         38
dtype: int64

In [27]:
df = pd.DataFrame({'First': ['A', 'A', 'B', 'B'],
                   'Second': [1, 2, 1, 2]})
multi_index = pd.MultiIndex.from_frame(df)
ser=pd.Series([12,22,34,45], index=multi_index )
ser

First  Second
A      1         12
       2         22
B      1         34
       2         45
dtype: int64